<div class="card-body">
  <form novalidate
        #postForm="ngForm">
    <fieldset>
      <legend>Basic Post Information</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="postNameId">Post Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="postNameId"
                 type="text"
                 placeholder="Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=post.postTitle
                 name="postName"
                 #postNameVar="ngModel"
                 [ngClass]="{'is-invalid': (postNameVar.touched || 
                                            postNameVar.dirty ||
                                            post.id !== 0) && 
                                            !postNameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="postNameVar.errors?.required">
              post name is required.
            </span>
            <span *ngIf="postNameVar.errors?.minlength">
              post name must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="postCodeId">Posted Date</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="postCodeId"
                 type="text"
                 placeholder="Code (required)"
                 required
                 [(ngModel)]=post.postDate
                 name="postCode"
                 #postCodeVar="ngModel"
                 [ngClass]="{'is-invalid': (postCodeVar.touched || 
                                            postCodeVar.dirty ||
                                            post.id !== 0) &&
                                            !postCodeVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="postCodeVar.errors?.required">
              post code is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Description</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    id="descriptionId"
                    placeholder="Description"
                    rows=3
                    [(ngModel)]=post.postBody
                    name="description"></textarea>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class='alert alert-danger'
     *ngIf='errorMessage'>{{errorMessage}}
</div>