<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="post">
    <form novalidate
          #postForm="ngForm">

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="postNameId">post Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="postNameId"
                 type="text"
                 placeholder="Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=post.postTitle
                 name="postName"
                 #postNameVar="ngModel"
                 [ngClass]="{'is-invalid': (postNameVar.touched || postNameVar.dirty) && !postNameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="postNameVar.errors?.required">
              post name is required.
            </span>
            <span *ngIf="postNameVar.errors?.minlength">
              post name must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="postCodeId">post Code</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="postCodeId"
                 type="text"
                 placeholder="Code (required)"
                 required
                 [(ngModel)]=post.postCode
                 name="postCode"
                 #postCodeVar="ngModel"
                 [ngClass]="{'is-invalid': (postCodeVar.touched || postCodeVar.dirty) && !postCodeVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="postCodeVar.errors?.required">
              post code is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Description</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    id="descriptionId"
                    placeholder="Description"
                    rows=3
                    [(ngModel)]=post.description
                    name="description"></textarea>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px"
                  type="button"
                  [title]="postForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!postForm.valid"
                  (click)="savepost()">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px"
                  type="button"
                  title="Cancel your edits">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this post"
                  (click)="deletepost()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>